<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @admin.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @admin.rut %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @admin.mail %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @admin.telefono %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
